p,
h1 {
/*  Dimension  */
  margin: 10px 0px;

}

body {
/*  Color  */
  background-color: #F2F5F8;

/*  Dimension  */
  height: 700px;
  margin: 1em;

/*  Position  */
  align-items: center;
  display: flex;
  justify-content: center;

}

.container {
/*  Animation  */
  animation-name: moveLeft;
  animation-duration: 2s;

/*  Color  */
  background-color: white;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.3);

/*  Dimension  */
  height: 196px;
  padding-top: 20px;
  width: 724px;

/*  Format  */
  border-radius: 10px;

/*  Position  */
  align-items: flex-start;
  display: flex;

}

img {
/*  Dimensions  */
  height: 144px;
  margin-left: 20px;

/*  Format  */
border-radius: 200px;

}

img,
.container-info {
/*  Dimension  */
  padding: 1em;

}

.container-info {
/*  Font  */
  font-family: sans-serif;
  line-height: 1.25em;

/*  Dimension  */
  margin-top: 10px;

}

.container-info p {
  /*  Color  */
  color: #8995A0;

  /*  Font  */
  font-weight: normal;

}

.container-info h1 {
  /*  Font  */
  font-weight: normal;

}

button {
/*  Color  */
  background-color: #fff;
  border: 1px solid #8C67DB;
  color: #8C67DB;

/*  Dimension  */
  height: 30px;
  margin: 1.5em 0px;
  width: 100px;

/*  Font  */
  font-size: 15px;

/*  Format  */
  border-radius: 20px;

}

button:hover {
  /* Color */
  background-color: #8C67DB;
  color: #fff;

}

@keyframes moveLeft {

  0% {
  /*  Color  */
    opacity: 0;

  /*  Position  */
    transform: translateY(100px);

  }

  100% {
    /*  Color  */
    opacity: 1;

    /*  Position  */
    transform: translate(0);

  }

}
