body {
  height: 800px;
  margin: 0;

}

header {
  height: 980px;
  background-size: cover;
  color: white;
  text-transform: uppercase;

  background-image: linear-gradient(
                      to bottom,
                      rgba(0,0,0,.6),
                      rgba(0,0,0,.8)),
    url(http://jorgecamposcodes.com/omnifood/css/img/hero-min.jpg);

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1em;

}

.logo {
  height: 150px;

}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font: 200 17.5px sans-serif;
  padding-top: 1.5em;
  margin-left: 100px;

}

.nav-links li {
  margin-right: 2.2em;

}

header h1 {
  font: 200 40px sans-serif;
  letter-spacing: .07em;
  margin-top: 4em;
  margin-left: 3.8em;

}

header h1 span {
  display: block;
}
