body {
  height: 800px;
  margin: 0;

}

header {
  height: 980px;
  color: white;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
    rgba(0,0,0,.7),
    rgba(0,0,0,.7)),
    url(http://jorgecamposcodes.com/omnifood/css/img/hero-min.jpg);
  height: 100vh;

  background-attachment: fixed;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1em;

}

.logo {
  height: 150px;

}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'lato', 'Arial', sans-serif;
  font-size: 17.5px;
  font-weight: 200;
  padding-top: 1.5em;
  margin-left: 100px;

}

.nav-links li {
  margin-right: 2.2em;

}

.header-txt-container {
  font-family: 'lato', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: .07em;
  margin-top: 4em;
  margin-left: 3.8em;

}

.header-txt-container span {
  display: block;

}

.btn {
  font-size: 17.5px;
  font-weight: 100;
  font-family: 'lato', 'Arial', sans-serif;
  text-decoration: none;
  color: #E47D31;
  padding: .8em 2em;
  border: 1px solid #E47D31;
  border-radius: 100px;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  transition: all .2s;

}

.btn-cta,
.btn:hover {
  background-color: #E47D31;
  color: #fff;

}

.btn-cta:hover {
  background-color: #CD702C;


}

header .btn:first-of-type {
  margin-left: 8.8em;
  margin-right: 1em;
  display: inline-block;

}
